evselect table=EVT withspectrumset=yes spectrumset=NOME energycolumn=PI spectralbinsize=5 withspecranges=yes specchannelmin=0 specchannelmax=20479 expression='#XMMEA_EP && (FLAG==0) && (PATTERN<=4) && EXPR'
backscale spectrumset=NOME badpixlocation=EVT
