evselect table=EVT withspectrumset=yes spectrumset=NOME energycolumn=PI spectralbinsize=15 withspecranges=yes specchannelmin=0 specchannelmax=11999 expression='#XMMEA_EM && (PATTERN<=12) && EXPR'
backscale spectrumset=NOME badpixlocation=EVT
